@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/google/droid-serif-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/google/droid-serif-400.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/google/droid-serif-700.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/google/lora-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/google/lora-700-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/google/lora-400.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/google/lora-700.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/google/source-sans-pro-400.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/google/source-sans-pro-700.ttf") format("truetype");
}
